body { /* Whole non metadata visible page */
  font: 16px/1.8 sans-serif;
  background-color: #243142;
  margin: 0px;
}

header { /* Nav bar at top */
  color: #bbb;
  background-color: #1B2431; /* DARK BLUE*/
  border-bottom: solid 0 #016795;
  border-width: 4px 0;
  text-align: center;
  word-spacing: 10px;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0; */
}

.nowrap {
  white-space: nowrap;
}

header img {
  position: relative;
  top: 3px;
}

main { /* All content below the Nav bar */
  max-width: 720px;
  color: #eee;
  margin: 0 auto;
  padding: 1rem;
}

h1,h2,h3,h4 {
  color: #bbb;
  margin-top: 40px;
}

a {
  color: #6b87ae;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

pre {
  font-family: Consolas, monospace;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 4px;
  color: #333;
  font-weight: 700;
  background-color: #edccab; /* fc9 */
  line-height: 16px;
  white-space: pre-wrap;
}

blockquote {
  border-left: 7px solid #fc9;
  color: #bbb;
  background: #303e50;
  margin: 0;
  padding: 0 16px;
}

li, ul {
  padding-left: 1em;
  margin-bottom: 0.5rem;
}
