body {
  display: flex;
  flex-direction: column;
  font: 16px/1.6 -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden scroll;
  word-wrap: break-word;
}

/* WERC HEADER */

.upperHeader {
  color: white;
  background-color: #1B2431;
  height: 1.9em;
}

.upperHeader a {
  color: white;
  background-color: transparent;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

.upperHeader div {
  position: absolute;
  top: 0.40ex;
}

.upperHeader .left { left: 1.0em; }
.upperHeader .right { right: 1.0em; }

.lowerHeader {
  color: rgb(39,78,144);
  background-color: #1e488f;
  border-top: solid 0 #016795;
  border-width: 4px 0;
}

.lowerTitle {
  color: black;
  font-size: 250%;
  font-weight: normal;
  margin: 0 0 0 0.6em;
  padding: 0.25ex 0;
}
#lowerSubTitle {
  font-size: 50%;
  font-style: italic;
  margin-left: 1em;
}

.lowerTitle a { color: black; }
/* END HEADER  */

h1,h2,h3 {
  margin-top: 40px;
}

main {
  flex: 1;
  width: 100%;
}

pre>code,main,#m {
  display: block;
  margin: 10px auto 40px;
  max-width: 52ch;
  padding: 0 10px;
}

pre>code {
  background: #1B2431;
  color: #eee;
  font-family: Consolas,monospace;
  font-weight: normal;
  padding: 20px;
  white-space: pre-wrap;
  max-width: 100%;
  margin: 0 0 40px;
}

code {
  background: #fcc;
  border-radius: 4px;
  font-weight: 700;
  padding: .1em .4em;
}

nav li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 25px 0 0;
}

blockquote {
  border-left: 7px solid #fc9;
  color: #333;
  margin: 0;
  padding: 0 14px;
}

img {
  display: block;
  left: 50%;
  max-width: 50vw;
  min-width: 100%;
  padding: 0 0 1em;
  position: relative;
  transform: translateX(-50%);
}

nav,footer {
  background: #002; /*000 before*/
  padding: 30px;
}

nav a,footer {
  color: #eee;
}

#a {
  color: #36C; /*f06 before*/
  font-weight: bold;
}

a {
  color: #1e488f;/*#00C;*/
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

ul {
  padding-left: 2em;
}

nav ul {
  margin: 0;
  text-align: center;
}

li+li {
  margin-top: 4px;
}

li>ul {
  margin: 5px 0 15px;
}

/* special rule for title text */
.lowerTitle a:hover { text-decoration: none; }
