body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  font: 16px/1.6 -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden scroll;
  word-wrap: break-word;
}

/* WERC style HEADER */

.upperHeader {
  color: #bbb;
  background-color: #1B2431; /* DARK BLUE*/
  min-height: 1.9em;
  display: flex;
}

.upperHeader a {
  color: #eee;
  background-color: transparent;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

.upperHeader .left { margin: 0.15em 0 0 1.0em; flex: 3 1 75vw; }
.upperHeader .right { margin: 0.15em 1.0em 0 0; flex-shrink: 0; }

.lowerHeader {
  background-color: #1e488f; /* MEDIUM BLUE */
  border-top: solid 0 #016795;
  border-width: 4px 0;
}

.lowerTitle {
  color: black;
  font-size: 250%;
  font-weight: normal;
  margin: 0 0 0 0.6em;
  padding: 0.25ex 0;
}

#lowerSubTitle {
  font-size: 50%;
  font-style: italic;
  margin-left: 1em;
}

.lowerTitle a { color: black; }
.lowerTitle a:hover { border: transparent; font-weight: 500; }
/* END HEADER  */

h1,h2,h3 {
  margin-top: 40px;
}

main {
  flex: 1;
  width: 90%;
}

#a {
  color: #36C;
  font-weight: bold;
}

a {
  color: #1e488f;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}


pre>code,main,#m { /* MAIN DECIDER OF WIDTH */
  display: block;
  margin: 10px auto 40px;
  max-width: 52ch;
  padding: 0 10px;
}


pre>code {
  background: #1B2431;
  color: #eee;
  font-family: Consolas,monospace;
  font-weight: normal;
  padding: 20px;
  white-space: pre-wrap;
  max-width: 100%;
  margin: 0 0 40px;
}

code {
  background: #fcc;
  border-radius: 4px;
  font-weight: 700;
  padding: .1em .4em;
}

blockquote {
  border-left: 7px solid #fc9;
  color: #333;
  margin: 0;
  padding: 0 14px;
}

img {
  display: block;
  left: 50%;
  max-width: 50vw;
  min-width: 100%;
  padding: 0 0 1em;
  position: relative;
  transform: translateX(-50%);
}

ul {
  padding-left: 2em;
}

li+li {
  margin-top: 4px;
}

li>ul {
  margin: 5px 0 15px;
}

footer {
  color: #eee;
  background-color: #1B2431;
  height: 2.8em;
  text-align: center;
  border-top: solid 0 #016795;
  border-width: 4px 0;
}

footer p { position: relative; top: -0.5em; }
