$-- span classes are used to block up items when wrapping
<span class="nowrap">
<a href="/blog/">
	<img src="/images/blog.svg" alt="blog" />blog
</a> |
<a href="/pages/recipes">
	<img src="/images/recipes.svg" alt="recipes" />recipes
</a> |
<a href="">
	<img src="/images/misc.svg" alt="misc" />misc
</a>
</span>

<span class="nowrap"> ||
<a href="/" style="color:#903;font-size:20px;">
	<img src="/images/home.svg" alt="home" />JHJn
</a> ||
</span>

<span class="nowrap">
<a href="/pages/links">
	<img src="/images/links.svg" alt="links" />links
</a> ||
<a href="https://github.com/jhjn/">
	<img src="/images/github.svg" alt="github" />git
</a> |
<a href="/pages/about">
	<img src="/images/about.svg" alt="me" />about
</a>
</span>
